/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    font-family: 'Open Sans', sans-serif;
}

/* Encabezado */
header {
    background-color: #333; /* Fondo del encabezado en negro */
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

h1 {
    font-size: 36px;
    margin-bottom: 30px;
}
.section ul {
    list-style-type: disc;
    margin-left: 20px;
    padding-left: 0; /* Elimina el espacio izquierdo predeterminado de la lista */
}

.section ul li {
    margin-bottom: 10px; /* Espaciado entre elementos de la lista */
}
/* Secciones */
.section {
    background-color: #fff;
    padding: 30px;
    margin: 20px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.section h2 {
    font-size: 24px;
    color: #000; /* Cambio de color a negro */
    margin-bottom: 20px;
}

.section p {
    font-size: 18px;
    line-height: 1.4; /* Reducción del espaciado entre líneas */
    margin-bottom: 10px; /* Reducción del espaciado entre párrafos */
}

/* Tarjetas */
.card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card h3 {
    font-size: 20px;
    margin: 0;
    color: #333; /* Cambio de color a negro */
}

.card a {
    color: #000; /* Cambio de color a negro */
    text-decoration: none;
}

.card a:hover {
    text-decoration: underline;
}

/* Pie de página */
footer {
    background-color: #333; /* Fondo del pie de página en negro */
    color: #fff;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Estilo para las imágenes en las tarjetas */
.card img {
    max-width: 100%;
    height: auto;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
